# Set the default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files you want to always be normalized and converted to LF upon checkout
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf

# Declare files that will always have CRLF line endings on checkout
*.bat text eol=crlf
*.cmd text eol=crlf

# Declare binary files to be left untouched
*.png binary
*.jpg binary
*.gif binary
*.exe binary
*.dll binary
